DISCORD_WEBHOOK_URL=YOUR_WEBHOOK_URL_HERE
ADMIN_PASSCODE=1234
OFFICER_DATA=[{"email": "officer1@example.com", "title": "President", "name": "Officer One", "discord_message": "Pres. One is here! <@&RoleID>"}, {"email": "officer2@example.com", "title": "Vice President", "name": "Officer Two", "discord_message": "VP Two is here! <@&RoleID>"}, {"email": "officer3@example.com", "title": "Treasurer", "name": "Officer Three", "discord_message": "Officer Three is here! <@&RoleID>"}, {"email": "officer4@example.com", "title": "Secretary", "name": "Officer Four", "discord_message": "Officer Four is here! <@&RoleID>"}, {"email": "officer5@example.com", "title": "Officer", "name": "Officer Five", "discord_message": "Officer Five is here! <@&RoleID>"}, {"email": "officer6@example.com", "title": "Officer", "name": "Officer Six", "discord_message": "Officer Six is here! <@&RoleID>"}]
LAST_IP=192.168.1.100
